body{
    background-image: url("tlo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
  }
#cell{
    padding: 20px;
    margin: 1px;
}